
<% layout('layouts/boilerplate') %>

    <h1>All campgrounds</h1>

    <a href="/campgrounds/new">Create a new Campground</a>
<ul>
    <% for (let campground of campgrounds) { %>
        <li><a href="/campgrounds/<%= campground._id %>"> <%= campground.title %> </a></li>
    
    <% } %>


</ul>
